<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>新しい連絡先の確認</h1>
        <div>
            <strong>名前: </strong><%=@name%>
        </div>
        <form action="contacts" method="post">
            <input type="hidden" name="name" value="<%=@name%>">
            
            <!-- 確認画面経由だとconfirmedがある -->
            <input type="hidden" name="confirmed" value="true">
            
            <input type="submit">
        </form>
        
        <div>
            <a href="/">戻る</a>
        </div>
    </body>
</html>